.calendar-item {
    background-color: #B9C1F1;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    padding: 10px;
}
.calendar-entity-icon {
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}
.calendar-item-icon {
    max-height: 100px;
    max-width: 100px;
}
:is(.calendar-anemo, .calendar-sword) {
    background-image: url('../../../public/bg-anemo.png');
}
:is(.calendar-cryo, .calendar-claymore) {
    background-image: url('../../../public/bg-cryo.png');
}
:is(.calendar-electro, .calendar-catalyst) {
    background-image: url('../../../public/bg-electro-.png');
}
:is(.calendar-geo, .calendar-polearm) {
    background-image: url('../../../public/bg-geo.png');
}
.calendar-hydro {
    background-image: url('../../../public/bg-hydro.png')
}
:is(.calendar-pyro, .calendar-bow) {
    background-image: url('../../../public/bg-pyro.png');
}
.calendar-dendro {
    background-image: url('../../../public/bg-dendro.png');
}
.calendar-remove-icon {
    font-weight: bold;
    background-color: blueviolet;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
}