.entity-card {
    width: 150px;
    height: 191.51px;
    margin-bottom: 25px;
    background-color: #2B2E41;
    overflow-wrap: break-word;
    hyphens: manual;
}
:is(.card-top-anemo, .card-top-sword) {
    background-image: url('https://cdn.discordapp.com/attachments/709286174879121519/1080252100929400942/bg-anemo.png');
}
:is(.card-top-cryo, .card-top-claymore) {
    background-image: url('https://cdn.discordapp.com/attachments/709286174879121519/1080256570291671170/bg-cryo.png');
}
:is(.card-top-electro, .card-top-catalyst) {
    background-image: url('https://cdn.discordapp.com/attachments/709286174879121519/1080256700327665735/bg-electro-.png');
}
:is(.card-top-geo, .card-top-polearm) {
    background-image: url('https://cdn.discordapp.com/attachments/709286174879121519/1080256817436819507/bg-geo.png');
}
.card-top-hydro {
    background-image: url('https://cdn.discordapp.com/attachments/709286174879121519/1080256905957609492/bg-hydro.png')
}
:is(.card-top-pyro, .card-top-bow) {
    background-image: url('https://cdn.discordapp.com/attachments/709286174879121519/1080256999545126912/bg-pyro.png');
}
.card-top-dendro {
    background-image: url('https://cdn.discordapp.com/attachments/709286174879121519/1080257722144006234/bg-dendro.png');
}
.card-top-img {
    max-width: 100px;
    max-height: 100px;
}
.multi-line-name {
    overflow-wrap: break-word;
    font-size: smaller;
}
.type-icon {
    margin-right: 15px;
    width: 25px;
}
.card-body {
    max-width: 100%;
    padding: 10px;
}
.card-title {
    height: 50%;
}
.card-text {
    margin-bottom: 10px;
}
.heart-icon {
    position: relative;
    top: 2px;
}