.entity-list {
    background-color: #1F212D;
    border-radius: 15px;
    box-shadow: -5px 5px 10px rgba(18, 18, 18, 0.212);
}
.entity-list-title {
    text-transform: capitalize;
    margin-top: 20px;
}