body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #EBEDFE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/bg-dark.png');
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  height: 100%;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 66px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 96px;
  }
}