body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #EBEDFE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://cdn.discordapp.com/attachments/709286174879121519/1079260154165465139/bg-dark.png?ex=65ed3858&is=65dac358&hm=2a1409c82a00c4f7a9e6e77d0c73ebd9abdc782c9db2fc9699b40274091ea6eb&');
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  height: 100%;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 66px;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 96px;
  }
}